

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  flex-grow: 1;
}

.collapseAboutContainer {
  margin: 30px 208px 30px 208px;
  display: flex;
  flex-direction: column;
}
  
  
@media (min-width: 640px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }
}
  
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/*Media queries pour mobiles*/
@media screen and (max-width: 480px) {
  .collapseAboutContainer {
    margin: 15px;
  }
}

/*Media queries pour tablettes*/
@media screen and (min-width: 481px) and (max-width: 830px) {
  .collapseAboutContainer {
    margin: 15px 20px 15px 20px;
  }
}