
.cards {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;

    margin-bottom: 30px;
    background: linear-gradient(180deg, #ff6060 30%, #863939 100%);
    animation: appear 3s;
    
}

.card_img {
    width: 330px;
    height: 240px;
    margin: 5px;
    border-radius: 10px 10px 0 0;
    margin-left: 5px;
}

.card_title {
    
    color: white;
    font-size: 18px;
    width: 311px;
    font-weight: 500;
  
    padding-left: 20px;
 
   
    position: absolute;
    
}

.cards a {
    text-decoration: none;
}

