.banner {
  margin-top: 16px;
}
.imgContainerHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgb(0, 0, 0);
}
.bannerImg {
  width: 100%;
  border-radius: 25px;
  opacity: 0.7;
  object-fit: cover;
}
.bannerTitle {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  animation: appear 3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .banner {
    margin-top: 64px;
  }
}

/*Media queries pour mobiles*/
@media screen and (max-width: 480px) {
  .imgContainerHome {
    justify-content: left;
    border-radius: 10px;
    height: 111px;
  }

  .img {
    border-radius: 10px;
    height: 100%;
  }
  .title {
    font-size: 24px;
    width: 60%;
    padding-left: 16px;
  }
}

/*Media queries pour tablettes*/

@media screen and (min-width: 481px) and (max-width: 830px) {
  .imgContainerHome {
    justify-content: left;
    border-radius: 10px;
    height: 111px;
  }
  .img {
    border-radius: 10px;
    height: 111px;
  }
  .title {
    font-size: 30px;
    width: 60%;
    padding-left: 16px;
  }
}
